.dialog {
  text-align: center;
  padding: 1.2rem;
  min-width: 20rem;
  max-width: 24rem;
}

.content {
  padding: 0.5rem;
}

.dialog > h3 {
  margin: 0.5rem;
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}