.addUser {
  display: grid;
  gap: 1rem;
  width: 50%;
  padding: 1rem;
}

.addUser h2 {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}