{
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./src/server/tsconfig.json"
  },
  "extends": ["kit/base", "kit/node", "kit/typescript"],
  "ignorePatterns": ["node_modules", "dist"],
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    "import/no-unresolved": 0
  }
}