* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgba(175, 175, 175, 0.08);
  padding-left: 5rem;
}

/* styles rewrite */
.MuiTableCell-root {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
}

/* add user form: group select styles override */
ul.MuiMenu-list[aria-labelledby="group-select"] {
  max-height: 250px;
}

/* users table: group select styles override */
ul.MuiMenu-list[aria-labelledby="table-group-select"] {
  max-height: 250px;
}