* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding-top: 3.5rem;
  background-color: rgba(175, 175, 175, 0.08);
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 0 0.8rem;
  height: inherit;
  font-size: 1rem;
}

.nav-link.dropdown {
  color: unset;
}