DB_HOST=host
DB_PORT=port
DB_USER=user
DB_PASSWORD=password
DB_DATABASE=database

NODE_PORT=port
NODE_RESTART_TIME=time in milliseconds
NODE_SESSION_COOKIE_NAME=sessionId
NODE_SESSION_SECRET=string with length of 32 chars
NODE_SESSION_COOKIE_SECURE=1 for https / 0 for http
NODE_SESSION_COOKIE_MAX_AGE=max age in milliseconds