{
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["kit/base", "kit/node","kit/packs/react-typescript"],
  "ignorePatterns": ["node_modules", "dist", "webpack*"],
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/consistent-type-definitions": ["error", "type"]
  }
}