.previewWork {
  --previewGap: 1rem;
  display: grid;
  gap: var(--previewGap);
  width: 70%;
  padding: 1rem;
}

.previewWork h2,
.previewWork h3 {
  margin: 0;
}

.taskPreview {
  display: grid;
  gap: var(--previewGap);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 0.5rem;
}

.tests {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--previewGap);
}

.tests span {
  display: block;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.taskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}