.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: inherit;
}

.item {
  max-width: inherit;
}

.item:hover {
  background-color: #2a2e36;
}