table.table {
  width: 25%;
  min-width: 300px;
  max-width: 500px;
}

.row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.head th {
  font-weight: 600;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}