.table {
  max-width: 350px;
  margin: auto;
}

.row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.head th {
  font-weight: 600;
}

.headRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem; 
}