.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 0.7rem;
  text-decoration: none;
  padding: 1rem;
}

.link:hover {
  background-color: #2a2e36;
}

.link.active {
  background-color: #515866;
}