.editWork {
  --editGap: 1rem;
  display: grid;
  gap: var(--editGap);
  width: 50%;
  padding: 1rem;
}

.editWork h2,
.editWork h3 {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.groupsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--editGap);
}

.groupsList > * {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 0.7rem;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 0.3rem;
}

.group:last-child {
  margin-bottom: unset;
}

.tasksList {
  display: grid;
  gap: 1rem;
}

.task {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr) 4rem;
  gap: var(--editGap);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 0.7rem;
}

.task > .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.includedTasks {
  display: grid;
  gap: var(--editGap);
}

.allTasks {
  display: grid;
  gap: var(--editGap);
}

.emptyList {
  composes: task;
  grid-template-columns: 1fr;
}

.emptyList > * {
  display: flex;
  align-items: center;
  height: 30px;
}

.dates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--editGap);
}