.addUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 0.7rem 1rem 0.7rem;
  --fields-margin: 0.3rem;
}

.fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.fields > * {
  margin: var(--fields-margin) !important;
}

/* merge 2 last cells only if count of child is odd */
.fields > *:last-child:nth-of-type(odd) {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 50%;
  margin: var(--fields-margin) auto !important;
}

.title {
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: var(--fields-margin);
}

.actions > button {
  margin: 0 var(--fields-margin);
}

.loader {
  margin: auto;
  margin-top: var(--fields-margin);
  padding: 16px 0;
  width: 50%;
}