.addWork {
  display: grid;
  width: 50%;
  padding: 1rem;
  gap: 1rem;
}

.addWork h2,
.addWork h3 {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dates {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}