.codeEditor {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  padding: 0;
}

.editor {
  display: block;
  border: none;
  background: none;
  font-family: monospace;
  font-size: 1rem;
  overflow: auto;
  resize: none;
}

.editor:focus {
  outline: unset;
}