.addTask {
  width: 70%;
  max-width: 70%;
  padding: 1rem;
}

.addTask h2,
.addTask h3 {
  margin: 0;
}

.addForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.addForm > *:nth-child(1),
.addForm > *:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.addForm > *:nth-child(4) {
  justify-self: end;
}

.testsControl {
  display: flex;
  align-items: center;
}

.testsControl > span {
  margin-right: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}