.addTask {
  width: 70%;
  padding: 1rem;
}

.addTask h2,
.addTask h3 {
  margin: 0;
}

.addForm {
  display: grid;
  grid-template-columns: 1fr 15rem;
  gap: 1rem;
}

.addForm > * {
  grid-column-start: 1;
  grid-column-end: 3;
}

.addForm > *:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
}

.addForm > *:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.testsControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testsCounter {
  display: flex;
  align-items: center;
}

.testsCounter > span {
  margin-right: 0.5rem;
}

.testsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.8rem;
  gap: 1rem;
}

.testsList > button {
  align-self: center;
  justify-self: center;
}