.addTask {
  width: 70%;
  max-width: 70%;
  padding: 1rem;
}

.addTask h2,
.addTask h3 {
  margin: 0;
}

.addForm > *:not(:last-child) {
  margin-bottom: 1rem;
}

.addForm > *:nth-child(1) {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.testsControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testsCounter {
  display: flex;
  align-items: center;
}

.testsCounter > span {
  margin-right: 0.5rem;
}

.testsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.8rem;
  gap: 1rem;
}

.testsList > button {
  align-self: center;
  justify-self: center;
}