* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App {
  --navigation-width: 4.8rem;
  margin-left: var(--navigation-width);
}

/* styles rewrite */
.MuiTableCell-root {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
}

/* notifications styles rewrite */
.MuiSnackbarContent-message {
  width: 250px;
}

/* add user form: group select styles override */
ul.MuiMenu-list[aria-labelledby="group-select"] {
  max-height: 250px;
}

/* users table: group select styles override */
ul.MuiMenu-list[aria-labelledby="table-group-select"] {
  max-height: 250px;
}

/* override outlined input color */
fieldset.MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.35);
}

/* override outlined disabled input color */
div.MuiOutlinedInput-root.Mui-disabled > fieldset.MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.15);
}